html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.header {
  background-color: #26DFD0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Libre Baskerville", serif;
  color: white;
  padding: 20px 40px;
  margin: 0;
  gap: 10px;
}

.menu__item {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.menu__link {
  text-decoration: none;
  color: white;
}

.hero {
  height: 80vh;
  width: 100%;
  background-image: url(/fotky-na-web/uvodni-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "-" "hero__title" "hero__button";
}
@media (max-width: 500px) {
  .hero {
    height: 60vh;
  }
}
.hero__title {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  color: #F9D030;
  font-size: 100px;
  margin-bottom: 20px;
  text-align: center;
  grid-area: hero__title;
  align-self: end;
  justify-self: center;
}

.hero__button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  color: white;
  background-color: #F62AA0;
  border-radius: 15px;
  border: none;
  grid-area: hero__button;
  align-self: start;
  justify-self: center;
  text-decoration: none;
}

.footer {
  background-color: #F62AA0;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  width: 100%;
}

.grid__programmes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-auto-flow: column;
  gap: 0;
}
@media (max-width: 767px) {
  .grid__programmes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
}

.grid__picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .grid__picture {
    display: none;
  }
}

.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  margin: 0;
}
.grid__item--blue {
  background-color: #26DFD0;
}
.grid__item--yellow {
  background-color: #F9D030;
}
.grid__item--pink {
  background-color: #F62AA0;
}
@media (max-width: 767px) {
  .grid__item--pink {
    border-bottom: white solid 7px;
  }
}
.grid__item--green {
  background-color: #B8EE30;
}

.grid__item a {
  text-decoration: none;
  color: white;
}

.grid__link {
  font-size: 24px;
}
@media (min-width: 768px) {
  .grid__link {
    font-size: 26px;
  }
}
@media (min-width: 1025px) {
  .grid__link {
    font-size: 32px;
  }
}

.title__heading {
  font-family: "League Spartan", sans-serif;
  color: #F9D030;
  text-align: center;
  font-size: 64px;
}
.title__heading--left {
  text-align: center;
}
@media (min-width: 768px) {
  .title__heading--left {
    text-align: left;
    padding-left: 60px;
  }
}
.title__heading--right {
  text-align: center;
}
@media (min-width: 768px) {
  .title__heading--right {
    text-align: right;
    padding-right: 60px;
    padding-top: 60px;
  }
}

.title__subheading {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding-left: 40px;
}

.title__subsubheading {
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 24px;
  padding-left: 40px;
}
.title__subsubheading--bold {
  font-style: normal;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
}
.info__symbol {
  width: 100px;
  height: 100px;
}
.info__item {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  align-items: center;
  font-size: 20px;
}
.info__button {
  background-color: #F9D030;
  text-decoration: none;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media (min-width: 527px) {
  .info {
    flex-direction: row;
  }
}

.button__arrow {
  width: 20px;
  height: 20px;
}

.info__description {
  width: 100%;
  padding: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .info__description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.info__description--green {
  background-color: #B8EE30;
}
.info__description--blue {
  background-color: #26DFD0;
}
.info__description--yellow {
  background-color: #F9D030;
}

.info__photo {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.teacher-info {
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "title" "info" "photo";
}
@media (min-width: 769px) {
  .teacher-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "title photo" "info photo";
    margin-left: 30px;
  }
}

.title {
  grid-area: title;
}

.teacher-info__text {
  grid-area: info;
  padding: 40px;
  padding-top: 60px;
  font-family: "Libre Baskerville", serif;
  line-height: 2;
  font-size: 18px;
}
@media (min-width: 768px) {
  .teacher-info__text {
    font-size: 22px;
  }
}
@media (min-width: 1025px) {
  .teacher-info__text {
    font-size: 24px;
  }
}

.teacher-info__photo {
  grid-area: photo;
  max-width: 600px;
  height: auto;
  border-radius: 100%;
  padding: 20px 0;
  align-self: center;
  justify-self: center;
}

.price {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "title" "info" "button" "photo";
}
@media (min-width: 768px) {
  .price {
    margin-right: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "photo title" "photo info" "photo button";
  }
}

.price__photo {
  grid-area: photo;
  height: 600px;
  width: auto;
  border-radius: 100%;
  padding: 40px 0;
  align-self: center;
  justify-self: center;
}

.price__info {
  grid-area: info;
  padding: 40px;
  font-family: "Libre Baskerville", serif;
  line-height: 2;
  text-align: center;
  font-size: 20px;
}
@media (min-width: 768px) {
  .price__info {
    font-size: 22px;
    text-align: right;
  }
}
@media (min-width: 1025px) {
  .price__info {
    font-size: 24px;
  }
}

.price__button {
  grid-area: button;
  width: 250px;
  height: 90px;
  background-color: #F62AA0;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Libre Baskerville", serif;
  justify-self: center;
  font-size: 20px;
}
@media (min-width: 1025px) {
  .price__button {
    justify-self: right;
    margin-right: 40px;
    font-size: 24px;
  }
}

.price__link {
  text-decoration: none;
  color: white;
}

.references__text {
  font-family: "Libre Baskerville", serif;
  padding: 0 40px;
  font-style: italic;
  font-size: 20px;
}
.references__text--second {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .references__text {
    font-size: 24px;
  }
}
@media (min-width: 1025px) {
  .references__text {
    font-size: 26px;
  }
}

.contact {
  background-color: #F9D030;
  padding: 40px;
  margin: 60px;
  border-radius: 20px;
  font-family: "Libre Baskerville", serif;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(6, auto-fit);
  grid-template-areas: "name surname tel" "email email email" "classes number age" "address address address" "street town psc" "note note note";
}
@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-areas: "name" "surname" "tel" "email" "classes" "number" "age" "address" "street" "town" "psc" "note";
  }
}

label {
  display: block;
}

.form__name {
  grid-area: name;
}

.form__surname {
  grid-area: surname;
}

.form__tel {
  grid-area: tel;
}

.form__email {
  grid-area: email;
}

.form__classes {
  grid-area: classes;
}

.form__age {
  grid-area: age;
}

.form__number {
  grid-area: number;
}

.form__address {
  grid-area: address;
}

.form__street {
  grid-area: street;
}

.form__town {
  grid-area: town;
}

.form__psc {
  grid-area: psc;
}

.form__note {
  grid-area: note;
}

.contact input, textarea {
  background-color: #26DFD0;
  border: #26DFD0;
  border-radius: 20px;
  height: 30px;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
}

.contact select {
  width: auto;
  background-color: #26DFD0;
  border: #26DFD0;
  border-radius: 20px;
  height: 30px;
  padding: 20px;
  margin-top: 10px;
}

.contact label {
  padding-left: 5px;
  margin-top: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.gallery__preview {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__preview--tall {
  grid-row: span 2;
}
@media (min-width: 1025px) {
  .gallery__preview--tall {
    grid-row: span1;
  }
}/*# sourceMappingURL=style.css.map */