@use 'colours';
@use 'fonts';

.contact {
    background-color: rgba(249, 208, 48, 0.48);
    padding: 40px;
    margin: 60px;
    border-radius: 20px;
    font-family: $font;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(7, auto-fit);
    grid-template-areas: 
    "name surname tel"
    "email email email"
    "classes number age"
    "address address address"
    "street town psc"
    "note note note"
    "submit submit submit";
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
     grid-template-areas:
      "name"
      "surname"
      "tel"
      "email"
      "classes"
      "number"
      "age"
      "address"
      "street"
      "town"
      "psc"
      "note"
      "submit";
  }

}

label {
    display: block;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 20px;

    @media (min-width: 768px) {
    font-size: 22px;}

    @media (min-width: 1025px) {
    font-size: 24px;}
}

.form__name {
    grid-area: name;
}

.form__surname {
    grid-area: surname;
}

.form__tel {
    grid-area: tel;
}

.form__email {
    grid-area: email;
}

.form__classes {
    grid-area: classes;
}

.form__age {
    grid-area: age;
}

.form__number {
    grid-area: number;
}

.form__address {
    grid-area: address;
}

.form__street {
    grid-area: street;
}

.form__town {
    grid-area: town;
}

.form__psc {
    grid-area: psc;
}

.form__note {
    grid-area: note;
}

.form__address {
    font-size: 24px;
}

.form__submit {
    grid-area: submit;
    justify-self: center;
}

.form__submit-button {
    background-color: $primary-pink;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: $font;
    border: $primary-pink;
    border-radius: 20px;
    &:hover {
        cursor:pointer;
    }
    
    @media (min-width: 768px) {
    font-size: 22px;}

    @media (min-width: 1025px) {
    font-size: 24px;}
}

.contact input, textarea {
    background-color: $primary-blue;
    border: $primary-blue;
    border-radius: 20px;
    height: 30px;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.contact select {
    width: auto;
    background-color: $primary-blue;
    border: $primary-blue;
    border-radius: 20px;
    height: 30px;
    padding: 20px;
    margin-top: 10px;
}


.contact option {
    font-family: $font;
    color: black;
}