@use 'colours';
@use 'fonts';

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px; // výška jednoho řádku
    gap: 10px;
    margin: 10px;

    @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1025px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
}

.gallery__preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__preview--tall {
  grid-row: span 2;
   @media (min-width: 1025px) {
    grid-row: span 1;}
}

