@use 'colours';
@use 'fonts';

.hero {
    min-height: 100%;
    width: 100%;
    background-image: url(/fotky-na-web/uvodni-foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "-" "hero__title" "hero__button";
    @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
    }
}

.hero__title {
    margin: 0;
    font-family: $font-headings;
    color: $primary-yellow;
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
    grid-area: hero__title;
    align-self: end;
    justify-self: center;
    @media (min-width: 768px) {
     font-size: 100px;
    }

}

.hero__button {
    width: fit-content;
    padding: 20px;
    font-family: $font;
    color: white;
    background-color: $primary-pink;
    border-radius: 15px;
    border: none;
    grid-area: hero__button;
    align-self: start;
    justify-self: center;
    text-decoration: none;
    font-size: 20px;
    @media (min-width: 768px) {
    font-size: 22px;
    }
    @media (min-width: 1025px) {
    font-size: 24px;
    }
}