@use 'colours';
@use 'fonts';

.info {
    display: flex;
    position: relative;
    flex-direction: column;
    &__symbol {
        width: 100px;
        height: 100px;
    }

    &__item {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
        font-family: $font;
        font-style: italic;
        align-items: center;
        font-size: 20px;
    }

    &__button {
        background-color: $primary-yellow;
        text-decoration: none;
        color: black;
        font-family: $font;
        font-size: 20px;
        display: flex;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 10px;    
        right: 10px;  
        border-radius: 10px; 
    }

     @media (min-width: 527px) {
       flex-direction: row; }
}

.button__arrow {
    width: 20px;
    height: 20px;
}


.info__description {
    
    @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);}
    
    width: 100%;
    padding: 40px; 

    &--green {
    background-color: $primary-green;
    }

    &--blue {
    background-color: $primary-blue;
    }

    &--yellow {
    background-color: $primary-yellow;
    }

}

.info__photo {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}
