 <header class="header">
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler"><img class="menu__icon" src="/icons/menu-bar.png"></label>
    <ul class="menu"> 
        <li class="menu__item"><a href="/" class="menu__link">Domů</a></li>
        <li class="menu__item menu__item--has-submenu">
            <a href="/programy/" class="menu__link">Programy</a>
            <ul class="submenu">
                <li><a href="/programy/silni-bez-kasle/" class="menu__link">Silní bez kašle</a></li>
                <li><a href="/programy/bezpecne-kazdy-den/" class="menu__link">Bezpečně každý den</a></li>
                <li><a href="/programy/tajemstvi-naseho-tela/" class="menu__link">Tajemství našeho těla</a></li>
                <li><a href="/programy/nebojim-se-pana-doktora/" class="menu__link">Nebojím se pana doktora</a></li>
            </ul>
            </li>
        <li class="menu__item"><a href="/o-lektorce/" class="menu__link">O lektorce</a></li>
        <li class="menu__item"><a href="/cenik/" class="menu__link">Ceník</a></li>
        <li class="menu__item"><a href="/galerie/" class="menu__link">Fotogalerie</a></li>
        <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
        <li class="menu__item"><a href="/reference/" class="menu__link">Reference</a></li>
    </ul>
</header>